<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>RESTFUL Satellite Tracking</title>
<%= stylesheet_link_tag "styles"  %>
<%= javascript_include_tag "cufon-yui, font" %>
<script type="text/javascript">
			Cufon.replace('h1');
			Cufon.replace('h2');
			Cufon.replace('h3');
			Cufon.replace('h4');
</script>
</head>

<body>
<div id="container">
	
	<!-- PDF download and print links -->
	<div id="print_download_links">
		<a href="http://sciencehackday.com/">Science Hack Day</a>|<a href="http://www.celestrak.com">Celestrak</a>|<a href="mailto:info@randomorbit.com">Contact Us</a>
	</div>
	<!-- End -->
	
	<div id="content">
		<div id="header">
			<div id="contacts">
				<!-- Name -->
				<div id="name">
					<h1>Random <strong>Orbit</strong></h1>
				</div>
				<!-- End -->
				
				<!-- Addresses -->
				<div id="addresses">
					<h2><span class="blue">w:</span> <a href="http://www.randomorbit.net">www.randomorbit.net</a></h2>
					<h2><span class="blue">e:</span> <a href="mailto:info@randomorbit.net">info@randomorbit.net</a></h2>
					<h2><span class="blue">t:</span> <a href="http://www.twitter.com/random_orbit">@random_orbit</a></h2>
					<h3><span class="blue">c:</span> Created at Science Hack Day, London 2010</h3>
				</div>
				<!-- End -->
				
				<!-- Social networks -->
				<div id="socialnetworks">
					<div>
						<a href="http://twitter.com/random_orbit"><img src="images/twitter.png" alt="Twitter" title="Twitter" border="0"/></a>
						<a href="#"><img src="images/facebook.png" alt="Facebook" title="Facebook" border="0"/></a>
						<a href="http://sciencehackday.com/"><img src="images/shd2010.png" alt="Science Hack Day" title="Science Hack Day" border="0"/></a>
					</div>
				</div>
				<!-- End -->
			</div>	
		</div>
		
		<div id="leftcolumn">
			
			<!-- Education Section -->
			<div class="section_heading">
				<span>ABOUT RANDOM ORBIT</span>
			</div>
			<!-- End -->
			
			<!-- Education Entry 1 -->
			<div class="education_entry">
				<div class="education_title">
					RESTFUL Services for Satellites
				</div>
				<div class="text_content">				
					<p>Using this site you can access satellite position information on almost any tracked satellite that is in orbit around the Earth. This is done by making requests to specific URLs (see examples on the right) and parsing the response. We also have a handy map interface so you can track satellites on the site.</p>
					<p>This site was created during <%= link_to("Science Hack Day","http://sciencehackday.com/") %>, an event held in June 2010 at the Guardian offices in London. It is still very much under development but we thought we'd put it out for use anyway, in the spirit of hack day projects.</p>
					<p>This site uses <%= link_to("TLE tracking data", "http://www.celestrak.com/NORAD/documentation/tle-fmt.asp")%>, from the wonderful <%= link_to("Celestrak","http://www.celestrak.com/") %> site. We use these data, and the <%= link_to("SGP4 algorithm","http://en.wikipedia.org/wiki/Simplified_Perturbations_models") %>, to calculate the location of given satellites at specified times. We are currently working on predicting human-eye visible passes at given points on the Earth.</p>
				</div>
			</div>
			<!-- End -->
			
			<div class="section_heading">
				<span>UNDER DEVELOPMENT</span>
			</div>
			
			<div class="awards">
				<ul>
					<li><%= link_to("Ben Smith", "http://twitter.com/thesmith") %> is working on a way for you to chat to satellites via a Jabber client. This was a part of the original Science Hack Project. More info and links soon.<li>
					<li>Iridium Flare predictions</li>
					<li>Personal Twitter Updates</li>
					<li>Mobile Satellite Tracking</li>
					<li>Real-time satellite alerts</li>
				</ul>
			</div>
			
			<div class="section_heading">
				<span>DEVELOPMENT TEAM</span>
			</div>
			
			<div class="misc_title">
				The Team Behind this Site
			</div>
			<div class="misc">
				<ul>
					<li><%= link_to("Phil Cowans", "http://twitter.com/philcowans") %> - Rails Fiend workin</li>
					<li><%= link_to("Robert Simpson", "http://twitter.com/orbitingfrog") %> - Astrophysicist working at Oxford University.</li>
				</ul>
			</div>
			
		</div>
		
		<div id="rightcolumn">
			
			<div class="section_heading">
				<span>EXAMPLES</span>
			</div>
			
			<!-- Entry 1 -->
			<div class="work_entry">
				<div class="work_title">
					Live Orbital Tracking
				</div>
				<a href="http://randomorbit.net/satellites/25544/positions/now.xml"><div class="work_date">
					XML Example
				</div></a>
				<br clear="all"/>
				<h6>Locate satellites in real time</h6>
				<div class="text_content">				
					In this example, we get an XML file telling us the current location of the International Space Station (NORAD ID: 25544). This data can also be retrieved as a JSON or KML file by simply changing the '.xml' in the URL to the require file type. The ISS orbits the Earth roughly every hour and a half. The coordinates given are the latitude and longitude, in decimal degrees, and the altitude in kilometres.
				</div>
			</div>
			<!-- End -->
			
			<!-- Entry 2 -->
			<div class="work_entry">
				<div class="work_title">
					Google Earth
				</div>
				<a href="/envisatracker.kmz"><div class="work_date">
					KMZ Example
				</div></a>
				<br clear="all"/>
				<h6>Data can be easily used in Google Earth</h6>
				<div class="text_content">				
					The example file is a KMZ download that can be opened in Google Earth. This file uses the KML response from <%= link_to("this link", "http://randomorbit.net/satellites/27386/positions/now.kml") %> to track the Envisat satellite (NORAD ID: 27386). Google Earth allows you to create 'Network Overlays' that regularly check for updated information from a URL, or file on the web. This can bundled into a KMZ file and shared.
				</div>
			</div>
			<!-- End -->
			
			<!-- Entry 3 -->
			<div class="work_entry">
				<div class="work_title">
					Live Maps
				</div>
				<a href="http://randomorbit.net/map_set#iridium"><div class="work_date">
					Map Example
				</div></a>
				<br clear="all"/>
				<h6>See satellites live on a map.</h6>
				<div class="text_content">				
					Here you can see that satellites can be tracked not only individually but also in groups. Celestrak categorises the TLE files it produces into logical sets. This example shows the complete set of Iridium satellites. These are a large network of commercial satellites that support Iridium satellite phones. The complete list of sets is available on the <%= link_to("Celestrak website", "http://celestrak.com/NORAD/elements/") %>.
				</div>
			</div>
			<!-- End -->

		</div>
		
		<br clear="all"/>
		
	</div>
	
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>